<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="!toggled" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!toggled">Select Office</ion-title>
    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch()"
      (ionInput)="triggerInput($event)"></ion-searchbar>
    <ion-buttons slot="end" end *ngIf="!toggled">
      <ion-icon name="search" (click)="toggleSearch()" style="zoom:1.5"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="officeList">
    <ion-item *ngFor="let office of items" (click)="onClick(office)">
      <ion-icon name="business"></ion-icon>&nbsp;&nbsp;
      <ion-label>{{ office.officeName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>