.clsMarginTop {
    top:20%;
    margin-top:20%;
    padding-top: 20%;
}

.clsHideEle{
    display: none;
}
.clsShowEle{
    display: block;
}
ion-content {
    height: 100vh !important;
}
.clsActive{
    color: #3D7BFA;
}
.clsInactive{
    color:#757575;
}