<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="more" style="zoom:1.5" (click) = "present($event)"> </ion-icon>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>
<!--  
  <ion-content *ngIf="contact">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <img [src]="contact.profileUrl" *ngIf="contact.profileUrl1">
      <img src='../assets/profile_pic.png' *ngIf="!contact.profileUrl1" class="defaultePofile">
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <h3>{{ contact['first_name']  }} {{ contact['last_name']  }} </h3>
    </ion-row>

    <div style="border: 0.3px solid rgb(187, 187, 187);"></div>
    <ion-row *ngIf="officeName && companyName" style="height: auto">
      <ion-col size="1">
        <ion-icon name="business" slot="start"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-label>
          <ion-item>{{ contact.designation  |titlecase }} , {{ officeName | titlecase }} , {{ companyName}}</ion-item>
        </ion-label>
      </ion-col>
    </ion-row> 
    <ion-row *ngIf="contact.mobile" style="height: auto">
      <ion-col size="1">
        <ion-icon *ngIf="contact.mobile.length != 0" name="call" style="zoom:1.5;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-label *ngFor="let mobile of contact.mobile">
          <ion-item>{{mobile.mobile}} | {{mobile.type}}</ion-item>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="contact.landline" style="height: auto">
      <ion-col size="1">
        <ion-icon *ngIf="contact.landline.length != 0" name="calculator" style="zoom:1.5;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-label *ngFor="let landline of contact.landline">
          <ion-item>{{landline.landline}} | {{landline.type}}</ion-item>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="contact.email != 0" style="height: auto">
      <ion-col size="1">
        <ion-icon name="mail" *ngIf="contact.mobile.length != 0" style="zoom:1.5;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-label *ngFor="let email of contact.email">
          <ion-item>{{email.email}} | {{email.type}}</ion-item>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 

-->




<ion-content *ngIf="contact">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <img [src]="contact.profileUrl" *ngIf="contact.profileUrl1">
      <img src='../assets/profile_pic.png' *ngIf="!contact.profileUrl1" class="defaultePofile">
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <h3>
        {{ contact['first_name']  }} {{ contact['last_name']  }} </h3>
    </ion-row>
  </ion-grid>
  <div style="border: 3px solid rgb(231, 230, 230);"></div>
  <!-- <ion-item *ngIf="officeName && companyName">
    <ion-icon name="business" slot="start"></ion-icon>
    <ion-label>{{ contact.designation  |titlecase }} , {{ officeName | titlecase }} , {{ companyName}}</ion-label>
  </ion-item> -->
  <ion-item-group *ngIf="officeName && companyName">
    <ion-item-divider>
      <ion-icon name="business"></ion-icon>&nbsp;&nbsp;
      <ion-label>Company Details</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <span *ngIf="contact.designation">{{ contact.designation  |titlecase }} ,</span>
        {{ officeName | titlecase }} ,
        {{ companyName}}
      </ion-label>
    </ion-item>
  </ion-item-group>
  <span *ngIf="contact.mobile">
      <div style="border: 3px solid rgb(231, 230, 230);"></div>
  </span>
  <span *ngIf="!contact.mobile">
      <div style="border: 3px solid rgb(231, 230, 230);"></div>
  </span>
  
  <span *ngIf="contact.mobile">
    <ion-item-group *ngIf="contact.mobile.length > 0">
      <ion-item-divider>
        <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
        <ion-label>Mobile Number</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let mobile of contact.mobile">
        <ion-label>{{mobile.mobile}} | {{mobile.type}}</ion-label>
      </ion-item>
    </ion-item-group>
    <div *ngIf="contact.mobile.length > 0" style="border: 3px solid rgb(231, 230, 230);"></div>
  </span>
  <span *ngIf="contact.landline">
    <ion-item-group *ngIf="contact.landline.length != 0">
      <ion-item-divider>
        <ion-icon name="calculator"></ion-icon>&nbsp;&nbsp;
        <ion-label>Landline Number</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let landline of contact.landline">
        <ion-label>{{landline.landline}} | {{landline.type}}</ion-label>
      </ion-item>
    </ion-item-group>
    <div *ngIf="contact.landline.length != 0" style="border: 3px solid rgb(231, 230, 230);"></div>
  </span>
<span *ngIf="contact.email">
  <ion-item-group *ngIf="contact.email.length != 0">
    <ion-item-divider>
      <ion-icon  name="mail"></ion-icon>&nbsp;&nbsp;
      <ion-label>Email Address</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let email of contact.email">
      <ion-label>{{email.email}} | {{email.type}}</ion-label>
    </ion-item>
  </ion-item-group>
  <div *ngIf="contact.email.length != 0" style="border: 3px solid rgb(231, 230, 230);"></div>
</span>
  <ion-item-group *ngIf="contact.address">
    <ion-item-divider>
      <ion-icon name="home"></ion-icon>&nbsp;&nbsp;
      <ion-label>Address</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{contact.address}}</ion-label>
    </ion-item>
  </ion-item-group>

  <div *ngIf="contact.address" style="border: 3px solid rgb(231, 230, 230);"></div>

  <ion-item-group *ngIf=" contact['birth_day'] || contact['anniversary']">
    <ion-item-divider>
      <ion-icon name="time"></ion-icon>&nbsp;&nbsp;
      <ion-label>Personal</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="contact['birth_day']">
      <ion-label>Birthday</ion-label>
      <ion-label>{{contact['birth_day'] | date:'MM/dd/yyyy'}}</ion-label>
    </ion-item>
    <ion-item *ngIf="contact['anniversary']">
      <ion-label>Anniversary</ion-label>
      <ion-label>{{contact['anniversary'] | date:'MM/dd/yyyy' }}</ion-label>
    </ion-item>
  </ion-item-group>

  <div *ngIf=" contact['birth_day'] || contact['anniversary']" style="border: 3px solid rgb(231, 230, 230);"></div>

  <ion-item-group *ngIf="contact.fb_link || contact.twitter || contact.linkdin">
    <ion-item-divider>
      <ion-icon name="time"></ion-icon>&nbsp;&nbsp;
      <ion-label>Social</ion-label>
    </ion-item-divider>
    <ion-item>
      <img src='../../../../assets/fb.png' *ngIf="contact.fb_link" class="socialIcon">&nbsp;&nbsp;
      <img src='../../../../assets/twitter.png' *ngIf="contact.twitter" class="socialIcon">
      <!-- <img src='../../../../assets/linkdin.png' *ngIf="contact.linkdin" class="socialIcon"> -->
    </ion-item>
  </ion-item-group>

  <div *ngIf="contact.fb_link || contact.twitter || contact.linkdin" style="border: 3px solid rgb(231, 230, 230);">
  </div>

  <ion-item-group *ngIf="addedBy || contact['added_on'] ">
    <ion-item-divider>
      <ion-icon name="time"></ion-icon>&nbsp;&nbsp;
      <ion-label>Details</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="addedBy">
      <ion-label>Added By</ion-label>
      <ion-label>{{addedBy}}</ion-label>
    </ion-item>
    <ion-item *ngIf="contact['added_on']">
      <ion-label>Added On</ion-label>
      <ion-label>{{contact['added_on'] | date:'MM/dd/yyyy'}}</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>