<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="contactDashboard">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contactContact">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Contacts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contactFavourite">
        <ion-icon name="star"></ion-icon>
        <ion-label>Favourite</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>